// src/styles/home.scss

@use 'sass:color';
@use '../utils/variables' as vars;
.swal2-popup {
  background-color: vars.$white-color !important;
  font-family: vars.$primary-font !important;
  color: vars.$black-color !important;
  border-radius: 15px !important;
  box-shadow: 0 5px 15px rgba(vars.$black-color, 0.3) !important;
}

.swal2-title {
  color: vars.$primary-color !important;
  font-size: 1.8rem !important;
  font-weight: 700 !important;
}

.swal2-content {
  color: vars.$secondary-color !important;
  font-size: 1.2rem !important;
}

.swal2-confirm {
  background-color: vars.$primary-color !important;
  color: vars.$white-color !important;
  border: none !important;
  border-radius: 8px !important;
  padding: 0.6rem 1.5rem !important;
  font-size: 1rem !important;
  font-weight: 600 !important;
  box-shadow: 0 3px 6px rgba(vars.$black-color, 0.2) !important;
  transition: background-color 0.3s ease !important;
  
  &:hover {
    background-color: color.adjust(vars.$primary-color, $lightness: -10%) !important;
  }
}

.swal2-icon-success {
  color: vars.$primary-color !important;
}

.swal2-icon-error {
  color: #FF6B6B !important; // Puedes ajustar este color según tu preferencia
}

.swal2-close {
  color: vars.$secondary-color !important;
}

.home-page {
  position: relative;
  font-family: vars.$primary-font;
  color: vars.$secondary-color;
  padding: 1rem 0.75rem;
  padding-top: 5rem;
  padding-bottom: 3rem;
  .borders {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; 
    z-index: 1; 
    // Borde superior dividido en izquierdo y derecho
    .border-top {
      position: absolute;
      top: 0;
      height: 2px; 
      background-color: vars.$white-color;

      &-left {
        left: 0.8rem;
        width: 50%; 
      }
      &-right {
        right: 2.4rem !important;
        width: 50%; 
      }
    }

    
    .border-right {
      position: absolute;
      right: 2.4rem !important;
      width: 2px; 
      background-color: vars.$white-color;

      &-top {
        top: 0;
        height: 5%; 
      }
      &-bottom {
        bottom: 0;
        height: 6%; 
      }
    }

    .border-bottom {
      position: absolute;
      bottom: 0;
      height: 2px; 
      background-color: vars.$white-color;
      
      &-left {
        left: 0.8rem;
        width: 50%; 
      }
      &-right {
        right: 2.4rem !important;
        width: 50%; 
      }
    }

    .border-left {
      position: absolute;
      left: 0.7rem;
      width: 2px; 
      background-color: vars.$white-color;

      &-top {
        top: 0;
        height: 8%; 
      }
      &-bottom {
        bottom: 0;
        height: 6%; 
      }
    }
  }
  #inicio {
    text-align: center;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
    .textoYfoto{
      display: flex;
      flex-direction: column;
      padding-top: 0rem;
      .texto_contacto_container{
        text-align: start;
        
        .titulo {
          font-size: 2rem;
          font-weight: 900;
          color: vars.$white-color;
          text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
          padding-bottom: 1rem;
          
          span {
            color: vars.$primary-color;
            -webkit-text-stroke: 0.5px vars.$white-color;
            text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
          }
        }
        
        .subTitulo{
          font-size: 1.2rem;
          color: vars.$white-color;
          font-weight: 600;
          background-color: rgba(0, 0, 0, 0.3);
          padding: 0.5rem;
          padding-right: 4rem;
          padding-left: 1.5rem;
          width: calc(100% + 3rem);
          margin-left: -1.5rem;
          margin-bottom: 1.5rem;
          .dotted{
            text-decoration: underline;
          }
        }
        .propiedad_container {
          margin-left: -1rem;
          width: calc(100% + 3rem);
          margin-left: -1.5rem;
          padding: 0.7rem;
          padding-left: 1.5rem;
          background-color: rgba(0, 0, 0, 0.3);
          margin-bottom: 3rem;
          .titulo {
            font-size: 1.5rem;
            color: vars.$white-color;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
            font-weight: 500;
            text-align: start;
            padding-top: 0 !important;
          }
  
          .precio {
            font-size: 1.5rem;
            font-weight: 900;
            color: vars.$white-color;
            -webkit-text-stroke: 0.5px vars.$secondary-color;
            text-align: start;
          }
        }
        .footerText{
          color: vars.$white-color;
        }
        .image-container {
          margin-top: 1.5rem;
          img {
            width: 100%;
            max-width: 600px;
          }
        }
      }
      .foto_contacto_container{
        img{
          display: none;
        }
      }
      .contact-form {
        position: relative; 
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.5);
        padding: 1.4rem;
        border-radius: 20px;
        margin-bottom: 1rem;
        margin-top: 2rem;
        height: fit-content;
        .form-group{
          width: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        input,
        textarea {
        width: 100%;
        margin-bottom: 1rem;
        padding: 0.75rem;
        border: 1px solid vars.$secondary-color;
        border-radius: 15px;
        background-color: rgba(255, 255, 255, 0.7);
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        box-shadow: rgba($color: vars.$black-color , $alpha: 0.5) 0px 0px 10px 0px;
        
        &::placeholder {
          color: vars.$black-color;
          font-family: vars.$primary-font;
          font-size: 1rem;
          font-weight: 500;
        }
      }

      textarea {
        resize: vertical;
        min-height: 170px;
        &::placeholder {
          color: vars.$black-color;
          font-family: vars.$primary-font;
          font-size: 1rem;
        }
      }
        button {
          padding: 0.75rem 2rem;
          background-color: vars.$primary-color;
          color: vars.$white-color;
          border: none;
          border-radius: 4px;
          cursor: pointer;
          font-size: 1rem;
          transition: background-color 0.3s ease;
          width: 100%;
          border-radius: 15px;
          -webkit-border-radius: 15px;
          -moz-border-radius: 15px;
          -ms-border-radius: 15px;
          -o-border-radius: 15px;
          box-shadow: rgba($color: vars.$black-color , $alpha: 0.5) 0px 0px 10px 0px;
          &:hover {
            background-color: color.adjust(vars.$primary-color, $lightness: -10%);
          }
        }
      }
    }
    
    
  }
}
.spacerHome{
  height: 2rem;
}

@media (min-width: 800px) {
  .home-page {
    padding: 4rem 2rem;
    .borders {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none; // Para que no interfiera con la interacción
      z-index: 1; // Aseguramos que esté detrás del contenido pero encima del fondo
  
      // Borde superior dividido en izquierdo y derecho
      .border-top {
        position: absolute;
        top: 0;
        height: 2px; // Grosor del borde
        background-color: vars.$white-color;
  
        &-left {
          left: 2.05rem;
          width: 50%; // Ajusta este valor según necesites
        }
        &-right {
          right: 3.9rem !important;
          width: 50%; // Ajusta este valor según necesites
        }
      }
  
      // Borde derecho dividido en superior e inferior
      .border-right {
        position: absolute;
        right: 3.9rem !important;
        width: 2px; // Grosor del borde
        background-color: vars.$white-color;
  
        &-top {
          top: 0;
          height: 12% !important; // Ajusta este valor según necesites
        }
        &-bottom {
          bottom: 0;
          height: 5%; // Ajusta este valor según necesites
        }
      }
  
      // Borde inferior dividido en izquierdo y derecho
      .border-bottom {
        position: absolute;
        bottom: 0;
        height: 2px; // Grosor del borde
        background-color: vars.$white-color;
  
        &-left {
          left: 2.05rem;
          width: 50%; // Ajusta este valor según necesites
        }
        &-right {
          right: 3.9rem !important;
          width: 50%; // Ajusta este valor según necesites
        }
      }
  
      // Borde izquierdo dividido en superior e inferior
      .border-left {
        position: absolute;
        left: 2.05rem;
        width: 2px; // Grosor del borde
        background-color: vars.$white-color;
  
        &-top {
          top: 0;
          height: 5%; // Ajusta este valor según necesites
        }
        &-bottom {
          bottom: 0;
          height: 5%; // Ajusta este valor según necesites
        }
      }
    }
    #inicio {
      .textoYfoto{
        display: flex;
        flex-direction: row;
        .texto_contacto_container{
          text-align: start;
          .titulo {
            font-size: 2.5rem;
            font-weight: 900;
            color: vars.$white-color;
            text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); 
            padding-bottom: 1rem;
            padding-right: 1.5rem;
            padding-top: 4rem;
            span {
              color: vars.$primary-color;
              -webkit-text-stroke: 0.5px vars.$white-color;
              text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
            }
          }
          .subTitulo{
            font-size: 1.25rem;
            color: vars.$white-color;
            font-weight: 600;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 0.5rem;
            padding-right: 4rem;
            padding-left: 3rem;
            margin-bottom: 2.5rem;
            width: calc(100% + 3rem);
            margin-left: -3rem;
            .dotted{
              text-decoration: underline;
            }
          }
          .propiedad_container {
            margin-left: -1rem;
            width: calc(100% + 3rem);
            margin-left: -3rem;
            padding: 0.7rem;
            padding-left: 3rem;
            background-color: rgba(0, 0, 0, 0.3);
            margin-bottom: 3rem;
            .titulo {
              font-size: 1.5rem;
              color: vars.$white-color;
              text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
              font-weight: 500;
              text-align: start;
              padding-top: 0 !important;
            }
    
            .precio {
              font-size: 1.5rem;
              font-weight: 900;
              color: vars.$white-color;
              -webkit-text-stroke: 0.5px vars.$secondary-color;
              text-align: start;
            }
          }
          .footerText{
            color: vars.$white-color;
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.35);
            width: calc(100% + 3rem);
            margin-left: -3rem;
            padding: 1rem;
            padding-left: 3rem;
            
          }
          .image-container {
            margin-top: 1.5rem;
            img {
              width: 100%;
              max-width: 600px;
            }
          }
        }
        .contact-form{
          width: 40rem;
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .home-page {
    padding: 4rem 2rem;
    padding-right: 3rem !important;
    padding-left: 3rem !important;
    padding-bottom: 1rem !important;
    .borders {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 1; 
  
      
      .border-top {
        position: absolute;
        top: 0;
        height: 2px; 
        background-color: vars.$white-color;
  
        &-left {
          left: 3.1rem !important;
          width: 50%; 
        }
        &-right {
          right: 6.9rem !important;
          width: 50%;
        }
      }
  
      
      .border-right {
        position: absolute;
        right: 6.9rem !important;
        width: 2px; 
        background-color: vars.$white-color;
  
        &-top {
          top: 0;
          height: 15.2% !important;
        }
        &-bottom {
          bottom: 0;
          height: 10.1%; 
        }
      }
  
     
      .border-bottom {
        position: absolute;
        bottom: 0;
        height: 2px; 
        background-color: vars.$white-color;
  
        &-left {
          left: 3.1rem !important;
          width: 50%; 
        }
        &-right {
          right: 6.9rem !important;
          width: 50%; 
        }
      }
      
      .border-left {
        position: absolute;
        left: 3.1rem !important;
        width: 2px; 
        background-color: vars.$white-color;
  
        &-top {
          top: 0;
          height: 5%; 
        }
        &-bottom {
          bottom: 0;
          height: 5%; 
        }
      }
    }
    #inicio {
      .textoYfoto{
        display: flex;
        .texto_contacto_container{
          text-align: start;
          .titulo {
            font-size: 4rem;
            max-width: 700px;
            span {
              color: vars.$primary-color;
              -webkit-text-stroke: 0.5px vars.$white-color;
              text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
            }
          }
          .subTitulo{
            font-size: 2rem;
            color: vars.$white-color;
            font-weight: 600;
            background-color: rgba(0, 0, 0, 0.3);
            padding: 0.5rem;
            padding-right: 4rem;
            padding-left: 3.75rem;
            margin-bottom: 2.5rem;
            width: calc(100% + 3.75rem);
            margin-left: -3.75rem;
            .dotted{
              text-decoration: underline;
            }
          }
          .footerText{
            color: vars.$white-color;
            background-color: rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 0px 50px rgba(0, 0, 0, 0.6);
            width: calc(100% + 3.75rem);
            margin-left: -3.75rem;
            padding: 1rem;
            padding-left: 3.75rem;
            
          }
          .image-container {
            margin-top: 1.5rem;
            img {
              width: 100%;
              max-width: 600px;
            }
          }
        }
        .foto_contacto_container{
          img{
            display: flex;
            width: 25rem;
            height: fit-content;
          }
        }
      }
    }
  }

}

@media (min-width: 1424px) {

  .contact-form{
    width: 30rem !important;
  }
  .border-right {
    position: absolute;
    right: 6.9rem !important;
    width: 2px; 
    background-color: vars.$white-color;

    &-top {
      top: 0;
      height: 15.9% !important;
    }
    &-bottom {
      bottom: 0;
      height: 10.6% !important; 
    }
  }

}