// src/styles/thankYou.scss
@use '../utils/variables' as vars;
.spacerHome{
    height: 2rem;
}
.home-page{
    display: flex;
    flex-direction: column;
}
.thank-you-section {
  text-align: center;
  font-family: vars.$primary-font;
  color: vars.$secondary-color;
  border-radius: 15px;
  margin: 2rem;
  width: 100%;
  align-self: center;
  margin-top: 0rem;
  .check-animation {
    display: flex;
    justify-content: center;

    svg, video {
      width: 200px;
      height: 200px;
    }
  }

  h2 {
    font-size: 2.5rem;
    color: vars.$primary-color;
    margin-bottom: 1rem;
    font-weight: 900;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 2.5rem;
    color: vars.$white-color;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: -0.75rem;
    width: calc(100% + 1.5rem);
  }

  .return-home-btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    background-color: vars.$primary-color;
    color: vars.$white-color;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 700;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: darken(vars.$primary-color, 10%);
    }
  }

  @media (min-width: 800px) {
    
    .check-animation {
      svg, video {
        width: 250px;
        height: 250px;
      }
    }

    h2 {
      font-size: 3rem;
    }

    p {
      font-size: 1.4rem;
      margin-left: -2rem;
      width: calc(100% + 4rem);
    }
  }
  @media (min-width: 1024px) {
    p{ 
      margin-left: -4rem;
      width: calc(100% + 7rem);
    }
  }
  @media (min-width: 1200px) {

    .check-animation {
      svg, video {
        width: 300px;
        height: 300px;
      }
    }

    h2 {
      font-size: 3.2rem;
    }

    p {
      font-size: 1.5rem;
    }
  }
}
