@use 'utils/variables' as vars;
@use 'utils/mixins';
@use './components/header';
@use './components/contacto';
@use './components/home';
@use './components/footer';
@use './components/datosSection';
@use './components/equipoSection';
@use './components/blogSection';
@use './components/thankYou';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: vars.$primary-font;
}

.header-main{
  
  background-image: url('/public/assets/images/fondoMobile.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .header-main{
    background-image: url('/public/assets/images/fondoDesktop4.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }
}