@use 'utils/variables' as vars;
@use 'utils/mixins';
@use './components/header';
@use './components/contacto';
@use './components/home';
@use './components/footer';
@use './components/datosSection';
@use './components/equipoSection';
@use './components/blogSection';
@use './components/thankYou';
@use './components/propiedades';
@use './components/propiedadDetalle';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: vars.$primary-font;
}

.header-main{
  
  background-image: url('/public/assets/images/fondoMobile.webp');
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .header-main{
    background-image: url('/public/assets/images/fondoDesktop4.webp');
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.propiedadesContainer.cargando{
  height: 100vh;
  width: 100%;
  .propiedades-page{
    height: 90%;
    .contenido-propiedades{
      animation: pulse 1s infinite;
      -webkit-animation: pulse 1s infinite;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
.detalleContainer.cargando{
  height: 100vh;
  width: 100%;
  .propiedad-detalle-page{
    height: 90%;
    .contenido-detalle{
      animation: pulse 1s infinite;
      -webkit-animation: pulse 1s infinite;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}



@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}